Software engineering/Masters 3/Док от НЗОК/ImportPrescriptionShema-05-2010.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Andrei Simionescu (Company) -->
<xs:schema xmlns="http://localhost" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost" elementFormDefault="qualified">
	<xs:element name="Pharmacy">
		<xs:complexType>
			<xs:attribute name="pharmacyRegistrationNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="pharmacyName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="pharmacyManagerGraoPnf" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bankAccountNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="22"/>
						<xs:pattern value="BG[0-9]{2}[A-Z0-9]{18}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Invoice">
		<xs:complexType>
			<xs:attribute name="invoiceNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="invoiceDate" type="xs:date" use="required"/>
			<xs:attribute name="dateFrom" type="xs:date" use="required"/>
			<xs:attribute name="dateTo" type="xs:date" use="required"/>
			<xs:attribute name="grandTotal" type="xs:double" use="required"/>
			<xs:attribute name="totalValueOfDrugs" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrescriptionHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Patient"/>
				<xs:element ref="Sender"/>
			</xs:sequence>
			<xs:attribute name="typeOfPrescription" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="partOfPrescription" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A"/>
						<xs:enumeration value="B"/>
						<xs:enumeration value="C"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dispensingDatePreviousPart" type="xs:date" use="optional"/>
			<xs:attribute name="wayOfPrescribing" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="wayOfPayment" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="prescriptionNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="prescriptionDate" type="xs:date" use="required"/>
			<xs:attribute name="dispensingDate" type="xs:date" use="required"/>
			<xs:attribute name="totalAmount" type="xs:double" use="required"/>
			<xs:attribute name="fixedAmount" type="xs:double" use="optional" default="0"/>
			<xs:attribute name="amountToBePaid" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EUInfo">
		<xs:complexType>
			<xs:attribute name="countryCode" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[A-Z][A-Z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="countryIdNo" type="xs:string" use="optional"/>
			<xs:attribute name="certificateType" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EHIC"/>
						<xs:enumeration value="REHIC"/>
						<xs:enumeration value="E106"/>
						<xs:enumeration value="E109"/>
						<xs:enumeration value="E120"/>
						<xs:enumeration value="E121"/>
						<xs:enumeration value="E123"/>
						<xs:enumeration value="HR/BG1"/>
						<xs:enumeration value="MK/BG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="issueDate" type="xs:date" use="optional"/>
			<xs:attribute name="validFrom" type="xs:date" use="optional"/>
			<xs:attribute name="validTo" type="xs:date" use="optional"/>
			<xs:attribute name="certificateNumber" type="xs:string" use="optional"/>
			<xs:attribute name="persIdNo" type="xs:string" use="optional"/>
			<xs:attribute name="firstName" type="xs:string" use="optional"/>
			<xs:attribute name="middleName" type="xs:string" use="optional"/>
			<xs:attribute name="lastName" type="xs:string" use="optional"/>
			<xs:attribute name="birthDate" type="xs:date" use="optional"/>
			<xs:attribute name="sex" type="xs:boolean" use="optional"/>
			<!-- Код държава -->
			<!-- Идентификационен номер -->
			<!-- Удостоверителен документ -->
			<!-- Дата на издаване -->
			<!-- Дата на валидност от -->
			<!-- Дата на валидност до -->
			<!-- Номер на Европейсната здравна карта -->
			<!-- Перс.идентификационен (осигурителен) номер -->
			<!-- лично име-->
			<!-- бащино -->
			<!-- фамилно -->
			<!-- Дата на раждане на пациента -->
			<!-- пол на пациента (0-Мъж; 1-Жена) -->
		</xs:complexType>
	</xs:element>
	<xs:element name="Patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EUInfo" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="EGN" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SS_No" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="protocolNo" type="xs:string" use="optional"/>
			<xs:attribute name="protocolDate" type="xs:date" use="optional"/>
			<xs:attribute name="prescriptionBookletNo" type="xs:string" use="optional"/>
			<xs:attribute name="maternityFlag" type="xs:string" use="optional"/>
			<!-- Social Security No-->
		</xs:complexType>
	</xs:element>
	<xs:element name="Sender">
		<xs:complexType>
			<xs:attribute name="doctorUin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="doctorSpecialty" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[0-9][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="heRegistrationNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ambulatorySheetNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ambSheetPrescriptionNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Prescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrescriptionHeader"/>
				<xs:element ref="PrescriptionDrug" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="drugCode">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@drugNHIFCode"/>
		</xs:unique>
	</xs:element>
	<xs:element name="PrescriptionDrug">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Wholesaler" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="drugNHIFCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
						<xs:pattern value="[A-Z]{2}[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeICD" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="5"/>
						<xs:pattern value="[A-Z][0-9]{2}(\.[0-9])?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="prescribedQuantity" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="numberOfDays" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="dispensedQuantity" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="unitPrice" type="xs:double" use="required"/>
			<xs:attribute name="totalValue" type="xs:double" use="required"/>
			<xs:attribute name="reimbursableUnitPrice" type="xs:double" use="required"/>
			<xs:attribute name="payableAmount" type="xs:double" use="required"/>
		</xs:complexType>
		<xs:unique name="wholesalerKey">
			<xs:selector xpath="./*"/>
			<xs:field xpath="@wholesalerCode"/>
		</xs:unique>
	</xs:element>
	<xs:element name="Wholesaler">
		<xs:complexType>
			<xs:attribute name="wholesalerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="[A-Z]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="quantity" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reporting">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pharmacy"/>
				<xs:element ref="Invoice"/>
				<xs:element ref="Prescription" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
